doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title FTL test
    meta(name="description", content="test")
    meta(name="author", content="Antonina Osypenko")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="icon" href="favicon.ico")

  body
    .wrapper
      block content